h1 {
    color: darkblue;
    font-family: Helvetica, sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Helvetica, sans-serif;
}

td.value {
    alignment: center;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10pt;
}
